mat-card-header{
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin-bottom: 40px;
    color: gray;
}

.narrow-card {
    max-width: 680px;
    margin: auto;
    margin-top:5vh;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ml-30{
    margin-left: 30px;
}

.narrow-card ::ng-deep.mat-mdc-text-field-wrapper {
    width: 300px!important;
}